.text {
  text-align: center;
  color: white;
  width: fit-content;
  margin: 0 auto;
}
.text h2 i {
  color: red;
}
.text h2 p i {
  color: red ;
}
.text p {
  line-height: 1.8;
  font-weight: bold;
}
.text i.hero{
  font-size: 50px;
  color: red;
}
span{
  display: block;
  font-size: 30px;
  font-weight: bold;
}
.black {
  font-size: 27px;
  margin-left: -18px;
  color: red;
}
body {
  background-color: #1f1f1f;
  font-family: 'Cairo', sans-serif;
}
