/* Varbale's */
:root {
  --main-color: #ed145b;
  --padding-top: 60px;
  --padding-bottom: 60px;
  --text-color: #6d6d6d;
  --section-background: #f4f4f4;
  --transition: 0.5s
}
/* Start Global Rule's */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
  width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
  width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
  width: 1170px;
  }
}
ul {
  list-style: none;
}
/* End Global Rule's */
/* Start Main-header */
.main-header {
  text-align: center;
}
.main-header h2 {
  color: var(--text-color);
  font-size: 30px;
  text-transform: capitalize;
  width: fit-content;
  position: relative;
  margin: 20px auto;
}
.main-header h2:before {
  content: '';
  position: absolute;
  background-color: var(--main-color);
  width: 100%;
  height: 3px;
  bottom: -10px;
}
.main-header p {
  color: var(--text-color);
  line-height: 1.5;
  margin-bottom: 60px;
}
/* end main-header */
/* Start Header */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 2;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header .container .logo {
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 73px;
}
.header .container .links {
  display: flex;
}
@media (max-width:768px) {
  .header .container .toggle-bar:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.637);
    text-align: center;
  }
  }
.header .container .toggle-bar {
  color: white;
  display: flex;
  align-items: center;
  font-size: 30px;
  display: none;
}
@media (max-width:768px) {
  .header .container .toggle-bar {
    display: block;
  }
}
@media (max-width:768px) {
  .header .container .links {
    display: none;
  }
}
.header .container .links li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
  font-size: 17px;
  transition: var(--transition);
}
.header .container .links li a.active {
  color: var(--main-color);
}
.header .container .links li a:hover {
  color: var(--main-color);
}
/* End Header */
/* start landing */
.landing {
  background-image: url(../img/landing-cover.jpg);
  position: relative;
  min-height: 100vh;
  background-size: cover;
  text-align: center;
  color: white;
}
.landing:before {
  content: '';
  position: absolute;
  background: var(--main-color);
  width: 100%;
  height: 85vh;
  bottom: -12px;
  left: 0;
  z-index: -1;
  transform: skew(0deg, -1deg);
}
@media (max-width:768px) {
  .landing .text {
        transform: translateY(-55px);
  }
}
.landing .text {
  position: absolute;
  top: 45%;
  width: 100%;
}
.landing .text h2 {
  font-weight: 350;
  margin-bottom: 20px;
  font-size: 50px;
}
@media (max-width:768px) {
  .landing .text h2 {
    font-size: 35px;
  }
}
.landing .text h2 span {
  font-weight: bold;
  text-transform: uppercase;
}
.landing .text p {
  line-height: 1.5;
  font-size: 19px;
  margin-bottom: 20px;
}
.landing .text button {
  padding: 10px 50px;
  border-radius: 25px;
  border: none;
  background-color: var(--main-color);
  color: white;
  text-transform: uppercase;
  transition: var(--transition);
}
.landing .text button:hover {
  color: var(--main-color);
  background-color: white;
}
/* end landing */
/* start about */
.about {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  background-color: var(--section-background);
}
.about .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.about .container .info {
  width: 430px;
}
@media (max-width:768px) {
  .about .container .info {
    max-width: 100%;
    text-align: center;
  }
  .about .container .info h2:before {
    left: 100px;
  }
}
.about .container .info h2 {
  color: var(--text-color);
  margin-bottom: 30px;
  text-transform: capitalize;
  position: relative;
}
.about .container .info h2:before {
  content: '';
  position: absolute;
  background-color: var(--main-color);
  width: 150px;
  height: 3px;
  bottom: -15px;
}
.about .container .info p {
  font-size: 15px;
  line-height: 1.5;
  color: var(--text-color);
}
.about .container .info .sub a {
  color: var(--main-color);
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  font-weight: 600;
  transition: var(--transition);
}
.about .container .info .sub a:hover {
  color: var(--text-color);
  border-radius: 25px;
  border: 2px solid var(--text-color);
}
.about .container .info .sub i {
  color: var(--main-color);
  font-size: 20px;
}
.about .container .image img {
  max-width: 50%;
  position: absolute;
  margin-top: 75px;
  left: 50%;
}
@media (max-width:768px) {
  .about .container .image img {
    display: none;
  }
}
/* end about */
/* start services */
.services {
  padding-top: 120px;
  padding-bottom: var(--padding-bottom);
}
.services .container .content-srv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
@media (max-width:768px) {
  .services .container .content-srv {
    flex-direction: column;
  }
}
.services .container .content-srv .box h2 {
  margin: 20px 0;
  color: var(--main-color);
  font-weight: 400;
  font-size: 20px;
}
/* end services */
/* start quotes */
.quotes {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  background-image: url(../img/Quotes-cover.jpg);
  background-size: cover;
  text-align: center;
  position: relative;
}
.quotes:before {
  content: '';
  position: absolute;
  background-color: rgb(51 51 51 / 31%);
  left: 0;
  top: 0;
  width: 100%;
}
.quotes .container {
  position: relative;
}
.quotes .container .text {
  color: white;
}
.quotes .container .text i {
  color: var(--main-color);
  font-size: 50px;
  margin: 10px 0;
}
.quotes .container .text p {
  font-weight: 600;
  font-size: 20px;
}
/* end quotes */
/* start prices */
.prices {
  padding-bottom: var(--padding-bottom);
  background-color: var(--section-background);
}
.prices .container .main-header {
  padding: 20px;
}
.prices .container .main-header h2 {
  margin: 0 auto 20px;
}
.prices .container .plan {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.prices .container .plan .box {
  background-color: #fff;
  text-align: center;
  color: white;
  padding-bottom: 20px;
}
.prices .container .plan .box .head {
  background-color: var(--main-color);
  padding: 20px;
  position: relative;
}
.prices .container .plan .box .active {
  background-color: var(--text-color) !important;
}
.prices .container .plan .box .head h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.prices .container .plan .box .head h3 span {
  font-size: 20px;
}
.prices .container .plan .box .head h4 {
  font-weight: 500; 
}
.prices .container .plan .box .head button {
  position: absolute;
  left: 60px;
  bottom: -24px;
  padding: 10px 30px;
  border-radius: 25px;
  border: none;
  text-transform: uppercase; 
}
@media (max-width:768px) {
  .prices .container .plan .box .head button {
    left:105px;
  }
}
.prices .container .plan .box .main {
  color: var(--text-color);
  padding: 30px 0;
}
.prices .container .plan .box .main li {
  padding: 15px;
}
.prices .container .plan .box .buy {
  padding: 10px 25px;
  display: block;
  width: fit-content;
  margin: 0 auto;
  color: white;
  background-color: var(--main-color);
  text-decoration: none;
  border-radius: 25px;
  transition: var(--transition);
}
.prices .container .plan .box .buy:hover {
  background-color: #f4f4f4;
  color: var(--text-color);
}
/* end prices */
/* start aditional */
.aditional {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}
.aditional .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
  gap: 30px;
}
.aditional .container .box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.aditional .container .box img {
  margin-right: 10px;
}
.aditional .container .box .text h2 {
  color: var(--main-color);
  margin-bottom: 20px;
  font-size: 17px;
}
.aditional .container .box .text p {
  color: var(--text-color);
  line-height: 1.5;
}
/* end aditional */
/* start short-img */
.short-img {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  background-color: var(--main-color);
  text-align: center;
}
.short-img .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.short-img .container h2 {
  font-weight: 300;
  font-size: 25px;
}
@media (max-width:768px) {
  .short-img .container h2 {
  font-size: 11px;
  }
}
.short-img .container h2 span {
  text-transform: uppercase;
  font-weight: bold;
}
.short-img .container a {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--main-color);
  text-decoration: none;
  padding: 10px 15px;
  background-color: white;
  border-radius: 25px;
  transition: var(--transition);
}
.short-img .container a:hover {
  color: white;
  background-color: var(--text-color);
}
/* end short-img */
/* start news */
.news {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}
.news .container .news-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.news .container .news-content .box .image {
  position: relative;
  overflow: hidden;
}
.news .container .news-content .box .image::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 15px;
  background: var(--main-color);
  left: 0;
  bottom: -7px;
  transform: skewY(1.7deg);
  z-index: 2;
}
.news .container .news-content .box .convert::after {
  content: '';
  width: 100%;
  position: absolute;
  height: 100%;
  background: #e4366f85;
  left: 0;
} 
.news .container .news-content .box .convert i {
  position: absolute;
  top: 44%;
  width: 100%;
  text-align: center;
  font-size: 37px;
  color: white;
  z-index: 2;
}
.news .container .news-content .box .image img {
  width: 100%;
}
.news .container .news-content .box .captain {
  background-color: var(--section-background);
  padding: 20px;
}
.news .container .news-content .box .captain h2 {
  font-size: 15px;
  color: var(--text-color);
  margin-bottom: 15px;
}
.news .container .news-content .box .captain p {
  color: #777;
  line-height: 1.5;
}
.news .container .more {
  text-align: center;
}
.news .container .more a {
  display: block;
  margin-top: 50px;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 19px;
  text-transform: uppercase;
  color: var(--main-color);
  transition: var(--transition);
}
.news .container .more a:hover {
  color: var(--text-color);
}
.news .container .more i {
  font-size: 22px;
  color: var(--main-color);
}
/* end news */
/* start normal */
.normal {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  background-image: url(../img/Normal-cover.jpg);
  background-size: cover;
  position: relative;
}
.normal .main-header h2 {
  color: #dddd !important;
}
.normal .main-header p {
  color: white !important;
  max-width: 500px;
  margin: 20px auto;
}
.normal .main-header button {
  font-weight: 500;
  padding: 10px 40px;
  background-color: var(--main-color);
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  border-radius: 25px;
  transition: var(--transition);
  cursor: pointer;
  margin: 20px auto;
}
.normal .main-header button:hover {
  background-color: white;
  color:var(--main-color)
}
/* end normal */
/* start download */
.download {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  background-color: var(--section-background);
}
.download .container {
  display: flex;
  align-items: center;
}
@media (max-width:768px) {
  .download .container {
    flex-direction: column;
  }
}
.download .container .image img {
  width: 500px;
}
@media(max-width:768px) {
  .download .container .image img {
    max-width: 350px;
    margin-bottom: 20px;
  }
}
.download .container .text {
  width: 500px;
  margin-left: 25px;
}
@media (max-width:768px) {
  .download .container .text {
    max-width: 350px;
  }
}
.download .container .text h2 {
  position: relative;
  text-transform: capitalize;
  color: var(--text-color);
  margin-bottom: 20px;
}
.download .container .text h2:before {
  content: '';
  position: absolute;
  width: 190px;
  height: 3px;
  background-color: var(--main-color);
  left: 0;
  bottom: -10px;
}
.download .container .text p {
  color: #777;
  line-height: 1.5;
}
.download .container .text button {
  font-weight: 500;
  padding: 10px 20px;
  background-color: var(--main-color);
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  border-radius: 25px;
  transition: var(--transition);
  cursor: pointer;
  margin: 20px auto;
}
.download .container .text button:hover {
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
/* end download */
/* start footer */
.footer {
  padding: 30px 0;
  background-color: #1f1f1f;
  color: white;
  text-align: center;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .container .copyright {
  text-transform: uppercase;
}
.footer .container .copyright span {
  color: var(--main-color);
  font-weight: 800;
}
.footer .container .name {
  text-transform: uppercase;
}
.footer .container .name span {
  color: var(--main-color);
  font-weight: 900;
}
/* end footer */